.nen {
    width: 900px;
    height: 300px;
    margin: auto;
    background-image: url(./images/nen19.1\ 900x300.png);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}
p.mix {
    border-style: double none double none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 5px;
    width: 115px;
    margin: auto;
    text-align: center;
    color: rgb(144, 142, 142);
}
ul.thongtin {
    display: flex;
    list-style: none;
    width: 900px;
    margin: auto;
}
nav {
    background-color:rgb(231, 230, 230);
    height:30px;
    width: 900px;
    margin: auto;
}
.ten {
    background-color: rgb(78, 71, 78);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    padding: 4px;
    margin-right: 10%;
    border: navy 20px;

}
ul.thongtin a {
    color:rgb(66, 64, 63);
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-top: 5px;
    display: block;
    padding-left: 60px;
}
ul.thongtin a:hover {
    color:rgb(168, 49, 95);
}
.bocuc {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.bocuc .so1 {
    padding-top: 10px;
    width: 17%;
}
.bocuc ul.gioithieu {
    width: 90%;
    list-style: none;
    color: rgb(104, 100, 104);
}
.bocuc .so3 {
    width: 40%;
    color: rgb(104, 100, 104);
}
.bocuc .so3 h3 {
    color:rgb(104, 100, 104);
}
